.DS_Store
/*.gem
.bundle
Gemfile.lock
logs
nginx/*_temp
pkg
tmp
/ngx_openresty
/vendor/projects/ngx_openresty-1.2.7.6/Makefile
/vendor/projects/ngx_openresty-1.2.7.6/build/
/vendor/bundle
/.bundle
/.luarocks
